$include-open-sans: false;
$body-font-family: "Helvetica Neue", "Helvetica", Helvetica, Arial, sans-serif;

@import 'bourbon/app/assets/stylesheets/bourbon';
@import 'foundation/scss/foundation';
@import 'foundation-icons/foundation_icons_general/sass/general_foundicons';

$light-grey: #e5e5e5;
$light-green: #b6ff07;
$green: #B6F600;
$dark-green: #78ff00;

// .browsehappy {
//     margin: 0.2em 0;
//     background: #ccc;
    
//     padding: 0.2em 0;
// }

/* Space out content a bit */
body {
    height: 100%;
    padding-top: 20px;
    padding-bottom: 20px;
    border-top: 4px solid #e5e5e5;
    border-bottom: 2px solid $light-green;
    background-color: rgba(#f7f7f7, 1);
    color: #aaa;
}

/* Everything but the jumbotron gets side spacing for mobile first views */
.header,
.marketing,
.footer {
    padding-left: 15px;
    padding-right: 15px;
}

/* Custom page header */
.container > header {
    padding-top: 0px;
    border-top: 2px solid #eee;
    border-bottom: 0px solid $light-grey;
    position: relative;
    perspective: 700px;
    z-index: 1;

    /* Make the masthead heading the same height as the navigation */
    h1 {
        font-size: 60px;
        font-weight: 100;
        text-align: center;
        position: relative;
        left: -150px;
        margin-top: 30px;
        margin-bottom: 0;
        // line-height: 40px;
        padding-bottom: 20px;
        z-index: 2;
        
        background-position: 20px 10px;
        background-repeat: no-repeat;
        background-clip: no-clip;

        transform: rotateX(2deg) rotateY(40deg);

    }

    h1:after {
            // content:attr(data-text);
            // display:block;
            // position: absolute;
            // top: 0px;
            // right: -170px;
            // transform:rotateY(180deg);
            // background-image:
            //     linear-gradient(180deg, rgba(255,255,255,.0) 10%, rgba(255,255,255,.4));
            // -webkit-background-clip: text;
            // color: rgba(#000, .4);
    }

    .reflection {
        position: absolute;
        top: 45px;
        right: 80px;
        transform:rotateY(-210deg);

        font-weight: 100;
        font-size: 60px;
        color: rgba(#000, .1);
    }

    .light {
        position: absolute;
        // top: -165px;
        // left: 0px;
        bottom: -415px;
        left: 31px;
        width: 900px;
        height: 900px;
        z-index: 1;

        transform:rotateX(92deg);
        // @include background(
        //     linear-gradient(180deg, rgba(#fff, 0), rgba(#fff, 0)),
        //     radial-gradient(#fff 10%, #ddd 50%, rgba(#fff, 0) 70%)
        // );
        @include background(
            linear-gradient(180deg, rgba(#fff, 0), rgba(#fff, 0)),
            radial-gradient(#fff 10%, #ddd 20%, rgba(#fff, 0) 60%)
        );
    }
}

// h1 {
//   position:absolute;
//   width:100%;
//   height:100%;
//   padding-top:5%;
//   box-sizing:border-box;
//   background-image:
//     linear-gradient(180deg,rgba(0,0,0,0.5),rgba(0,0,0,0)),
//         radial-gradient(#f20 10%,#a00 30%,#000 60%)
// ;
//   color:#fff;
//   // font: bold 5em 'Noto Serif';
//   line-height:1em;
// }

// h1:after {
//   content:attr(data-text);
//   display:block;
//   transform:rotateX(180deg);
//   background-image:
//     linear-gradient(180deg,rgba(255,255,255,.0) 10%,rgba(255,255,255,.4));
//   -webkit-background-clip: text;
//   color: transparent;
// }





// .header h3 {
//     margin-top: 0;
//     margin-bottom: 0;
//     line-height: 40px;
//     padding-bottom: 19px;
// }





.container-narrow > hr {
    margin: 20px 0;
}

/* Main marketing message and sign up button */
.jumbotron {
    // text-align: center;
    position: relative;
    // border-top: 1px solid #78ff00;
    border-bottom: 0px solid $light-grey;
    // @extend .top-border;
    // padding-top: 0px;
    // font-size: 32px;

    &:after {
        content: "";
        width: 100%;
        height: 5px;
        display: block;
        position: absolute;
        bottom: -4px;
        left: 0;
        border-top: 0px solid $light-green;
    }

    h2 {
        margin-top: 0;
        margin-bottom: 0.1rem;
        font-weight: 600;
        font-size: 20px;
        color: #444;
        position: relative;
        z-index: 2;
    }
}

// .jumbotron .btn {
//     font-size: 21px;
//     padding: 14px 24px;
// }


.links {
    margin-top: 1.0rem;
    padding-top: 0px;
    position: relative;
    z-index: 2;
    // text-align: center;
    // border-top: 1px solid #e5e5e5;

    a {
        position: relative;
        padding: 6px 12px 4px 5px;
        // @extend h2;
        
        font-size: 28px;
        font-weight: 900;
        letter-spacing: -1px;
        // text-transform: uppercase;
        color: $green;

        border-radius: 0px 0px 0 15px;
        // border-top: 2px solid #b6ff07;
        border: 1px solid $green;
        border-top: 1px solid $green;
        border-left: 1px solid $green;
        border-right: 0px solid $green;

        &:before {
            content: "";
            width: 100%;
            left: 0;
            top: 0;
            position: absolute;
            border-top: 0px solid rgba($dark-green, .2);
        }
        // background-color: #eee;
    }
    a + a {
        // margin-left: 0px;
        // margin-right: 15px;
        // padding-right: 5px;
        border-left: 1px solid $green;
        border-right: 1px solid $green;
        border-radius: 0 6px 6px 0;
    }
}

.green {
    // color: #78ff00;
    // font-size: 38px;
    display: none;
}

.top-border {
    border-top: 1px solid $green;
}

.small {
    font-size: 13px;
}

a {
    content:attr(data-text);
    // margin-right: 10px;
    // margin-top: 0px;
    // margin-bottom: 5px;
    position: relative;
    
    font-weight: 100;
    color: #999;
    
    // text-decoration: underline; #78ff00;
    // border-bottom: 1px solid #b6ff07;
    overflow: visible;


   &:after {
         content:attr(data-text);
        // display:block;
        position: absolute;
        top: 3px;
        left: 0px;
        border-bottom: 0px solid $green;
        color: transparent;
    }
}

/* Supporting marketing content */ 
.marketing {
    padding-top: 28px;
    padding-left: 0px;
    margin: 30px 0;
    font-size: 10px;
    // border-top: 1px solid #b6ff07;

    // &:before {
    //     content: "";
    //     display: block;
    //     position: relative;
    //     top: 8px;
    //     border-top: 1px solid #b6ff07;
    // }
    a {
        // border-bottom: 1px solid #b6ff07;
    }
}

// h4 {
//     font-size: 32px;
//     color: $green;
// }
.marketing p + h4 {
    // margin-top: 0px;
    // margin-bottom: 0.2rem; 
    font-size: 25px;
    font-weight: 400;
    // line-height: 3.4rem;
    color: #111;

}

p {
    font-size: 23px;
    font-weight: 100;
    // line-height: 1.8;
    // margin-bottom: 0.7rem;
}


/* Custom page footer */
.footer {
    display: flex;
    padding-top: 20px;
    padding-bottom: 20px;
    position: relative;
    border-top: 1px solid $green;
    border-bottom: 1px solid $green;
    background-clip: no-clip;
    vertical-align: center;
    color: #777;

    // &:before {
    //     content: "";
    //     display: block;
    //     width: 100%;
    //     height: 10px;
    //     position: absolute;
    //     top: 3px;
    //     left: 0px;
    //     border-top: 2px solid #78ff00;
    // }

    h3 {
        padding: 0rem;
        margin: 0rem;
        margin-right: 15px;
        font-size: 20px;
        font-weight: 100;
        line-height: 100%;
        color: $green;
    }
    .content {
         // padding-top: 0px;
         height: 100%;
         line-height: 100%;
         vertical-align: center;
         display: flex;
        h3 {
            margin-top: 0rem;
            margin-bottom: 0rem;
            font-weight: 900;
            line-height: 100%;
            color: #666;
        }
        p {
            font-size: 20px;
            font-weight: 900;
            color: #777;
            margin: 0;
            padding: 0;
            line-height: 100%;
            // flex: 1;
        }
        // p + p {
        //     line-height: 1rem;
        //     color: #999;
        //     // font-size: 24px;
        //     font-weight: 100;
        // }
    }
    
}

/* Responsive: Portrait tablets and up */
@media screen and (min-width: 768px) {
    .container {
        max-width: 730px;
        width: 50%;
        margin: 0 auto;
    }

    /* Remove the padding we set earlier */
    .header,
    // .links,
    // .footer,
    .marketing {
        padding-left: 55px;
        padding-right: 0px;
        
        // color: #b6ff07;
        &:after {

        }
    }
    /* Space out the masthead */
    .header {
        margin-bottom: 0px;
    }
    /* Remove the bottom border on the jumbotron for visual effect */
    .jumbotron {
        // border-bottom: 0;
    }
    
}
